@using Iskatel.Model
@using Iskatel.Web.Models
@model AddKBEntityFieldModel
@{
    ViewBag.Title = "Edit entity";
}

<h2>Edit entity</h2>

<h3>@ViewBag.Entity.Name</h3>
@foreach (var field in ViewBag.Entity.Fields)
{
    <p>@field.Name : @field.TypeName</p>
}
<p>
    <h3>Add field</h3>
    @using (Html.BeginForm("AddEntityField", "Class", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.KBEntityId)
        @Html.DisplayFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)<br/>
        @Html.DisplayFor(m => m.Alias)
        @Html.TextBoxFor(m => m.Alias)<br/>
        @Html.DisplayFor(m => m.TypeId)
        @Html.DropDownListFor(m => m.TypeId, ((List<KBSimpleType>)ViewBag.Types).Select(x => new SelectListItem() { Text = x.Name, Value = x.Id.ToString() }))<br/>
        @:<input type="submit" value="add" />
    }
</p>

